.container{
    width: 100%;
    height: 100%;
}


.otherVids{
    width: 31%;
    height: 100%;
    margin :5px;
    overflow: auto;
}


/* react router dom linking with homepage */
/* video page complete the description section */

/* later on you can use */