
.Avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.Avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:inherit;
}

.navbarLogo{
    width: 120px;
    height: 50px;
}

.navbarLogo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    height: 10vh;
    position: sticky;
    top: 0;
}

.Navbar .navbarMenu,.searchbar, .userBar{
    display: flex;
    justify-items: center;
    align-items: center;
    
}

.searchbar{
    height: 30px;
    border: 0.8px solid rgb(202, 202, 202);
    overflow: hidden;
    border-radius: 5px;
    color: rgb(70, 69, 69);
}
.press{
    height: 100%;
    padding: 5px;
    border-left: 0.8px solid gray;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar input{
    height:100%;
    width: 40vw;   
}
.searchbar input{
    border: none;
}

.userBar *{
    margin: 2px;
}
.searchbtn{
    border-right: 1px solid gray;
}